body > div {
    width: 200px;
    height: 200px;
    background-color: rgb(220, 220, 220);
    border: 5px solid gray;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

body > div > div:nth-child(1){
    background-color: rgb(236, 110, 110);
    width: 50%;
    height: 50%;
}

body > div > div:nth-child(2){
    background-color: rgb(96, 96, 243);
    width: 50%;
    height: 50%;
    margin-top: 50%;
}


