.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.flex-item {
    background-color: lightgray;
    border: 1px solid gray;
    padding: 10px;
    border: 1px solid #000;
    text-align: center;
    padding-bottom: 80px;
}

.flex-item:nth-child(1) {
    grid-column: 1 / 1;
    grid-row: 1 / 4;
}

.flex-item:nth-child(5) {
    grid-column: 3 / 3;
    grid-row: 1 / 4;
}
