.wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.flex-item {
    background-color: lightgray;
    border: 1px solid gray;
    padding: 10px;
    border: 1px solid #000;
    text-align: center;
    padding-bottom: 80px;
}

.flex-item:nth-child(4n-3){
    grid-column: span 1;
    grid-row: span 3; 
}
